@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 Blog css
/*----------------------------------------*/

.blog__item {
    &:hover {
        .blog__thumb {
            img {
                @include transform(scale(1.1));
            }
        }
    }
}
.blog__thumb {
    overflow: hidden;
    img {
        width: 100%;
        @include transform(scale(1));
        @include border-radius(10px);
    }
}
.blog__content {
	background: #FFFFFF;
	box-shadow: 0px 0px 32px rgba(108, 59, 235, 0.1);
	border-radius: 15px;
	padding: 20px 20px;
	position: relative;
	z-index: 5;
	margin: 0 30px;
	transform: translateY(-60px);
}
.blog__meta-inner {
	display: flex;
	align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.blog__title {
	font-size: 20px;
	margin-bottom: 0;
    @media #{$xxs, $lg} {
        font-size: 20px;
    }
    a {
        &:hover {
            color: var(--bd-theme-primary);
        } 
    }
}
.date__badge {
	display: inline-block;
	background: rgba(108, 59, 235, 0.1);
	border-radius: 18px;
	padding: 3px 10px;
	font-size: 14px;
	font-weight: var(--bd-fw-sbold);
}

.blog__link {
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(6, 6, 6);
    @include border-radius(50%);
    z-index: 9;
    color: var(--bd-common-white);
    font-size: 18px;
    &:hover {
        background-color: var(--bd-theme-primary);
        color: var(--bd-common-white);
    }
}
