@use "../utils" as *;

/*----------------------------------------*/
/*  2.4 Background
/*----------------------------------------*/

.white-bg {
  background-color: var(--bd-common-white);
}
.black-bg {
  background-color: var(--bd-common-black);
}

.blue-bg {
  background-color: #2D2095;
}
