@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 Buttons
/*----------------------------------------*/

// Secondary button
.bd-secondary-btn{
	height: 45px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 40px;
	color: var(--bd-text-primary);
	text-transform: capitalize;
	padding: 0 30px;
	font-weight: var(--bd-fw-medium);
	position: relative;
	z-index: 5;
	background: var(--bd-theme-secondary);
	font-size: 16px;
	gap: 5px;
    span {
        position: relative;
        top: -2px;
    }
    &:hover {
        color: var(--bd-common-white);
    }
}
// primary button
.bd-primary-btn {
	height: 45px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 40px;
	color: var(--bd-text-primary);
	text-transform: capitalize;
	padding: 0 30px;
	font-weight: var(--bd-fw-medium);
	position: relative;
	z-index: 5;
	background: var(--bd-theme-primary);
	font-size: 16px;
	gap: 5px;
    span {
        position: relative;
        top: -2px;
    }
    &:hover {
        color: var(--bd-common-white);
    }
}
// Gradient button
.bd-gradient-btn {
    font-size: 16px;
    color: var(--bd-common-white);
    text-transform: capitalize;
    font-weight: var(--bd-fw-medium);
    padding: 0px 25px;
    @include inline-flex();
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 50px;
    @include border-radius(30px);
    position: relative;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    z-index: 5;
    background-position: 100% 100%;
    background-size: 300% 100%;
    background-image: linear-gradient(90deg, rgb(251, 25, 113), rgb(255, 104, 23), rgb(255, 104, 23), rgb(251, 25, 113));
    &:focus {
        color: var(--bd-common-white);
    }
    span {
        i {
            position: relative;
            top: 1px;
        }
    }
    &:hover {
        color: var(--bd-common-white);
        background-position: 0 100%;
    }
}

// Common button
.bd-btn {
	font-size: 16px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: var(--bd-fw-medium);
	height: 60px;
	@include border-radius(30px);
	position: relative;
	overflow: hidden;
    padding: 0 35px;
	text-transform: capitalize;
    background-color: var(--bd-theme-primary);
    color: var(--bd-common-white);
	z-index: 5;
    span {
        i {
            margin-left: 8px;
        }
    }
	&:hover {
        background: var(--bd-theme-secondary);
        color: var(--bd-common-white);
	}
    &.btn-secondary {
		background: var(--bd-theme-secondary);
        &:hover {
            background-color: var(--bd-theme-primary);
        }
	}
	&.btn-tertiary {
		background: var(--bd-theme-tertiary);
        &:hover {
            background-color: var(--bd-theme-primary);
        }
	}
	&.btn-quaternary {
		background: var(--bd-theme-quaternary);
        &:hover {
            background-color: var(--bd-theme-primary);
        }
	}
}
// Text btn
.text__link {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    color: var(--bd-common-white);
    @include light {
        color: var(--bd-text-primary);
    }
    position: relative;
    &::before {
        position: absolute;
        content: "";
        left: auto;
        bottom: -2px;
        background: currentColor;
        width: 0;
        height: 2px;
        transition: 0.3s;
        right: 0;
    }
    &:hover {
        color: var(--bd-theme-primary);
        &::before {
            width: 100%;
            left: 0;
            right: auto;
        }
    }
}
// Btn Group
.btn__group {
    display: flex;
    align-items: center;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.button__group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 16px;
}
// Play btn
.play__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: var(--bd-common-white);
    color: var(--bd-theme-primary);
    font-size: 20px;
     @include border-radius(50%);
    &:hover {
        background-color: var(--bd-theme-primary);
        color: var(--bd-common-white);
    }
}
