@use "../utils" as *;

/*----------------------------------------*/
/*  2.0 Section Title  
/*----------------------------------------*/
.section__title-wrapper {
  position: relative;
  z-index: 55;
}
// Section title css
.section__title-wrapper {
  &.is-black {
    .section__title {
      color: var(--bd-heading-secondary);
    }
  }
  &.is-white {
    .section__title {
      color: var(--bd-common-white);
    }
  }
}
// Section subtitle
.section__subtitle {
  font-size: 14px;
  font-weight: var(--bd-fw-medium);
  line-height: 1;
  display: inline-block;
  padding: 10px 15px;
  background: var(--bd-gradient-2);
  color: var(--bd-gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 5;
  border-radius: 4px;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--bd-gradient-2);
    opacity: 0.0799999982;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
}
// Section subtitle 2
.section__subtitle-2 {
  font-size: 14px;
  font-weight: var(--bd-fw-medium);
  line-height: 1;
  display: inline-block;
  padding: 10px 15px;
  background: var(--bd-gradient-3);
  color: var(--bd-gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  border-radius: 4px;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #0E0A24;
    @include light {
      background: rgb(235, 235, 235);
    }
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
}
// Section subtitle 3
.section__subtitle-3 {
  background: linear-gradient(90deg, #674AD9 0%, #FB5141 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--bd-fw-medium);
  letter-spacing: 2.56px;
  line-height: 1;
  display: inline-block;
}
// Section title 4
.section__subtitle-4 {
  font-size: 14px;
  display: inline-block;
  background: linear-gradient(90deg, #FB5141 40%, #089EFF 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--bd-fw-medium);
  letter-spacing: 1.68px;
  position: relative;
  padding: 4px 15px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    border: 1.5px solid transparent;
    background: linear-gradient(
        90deg,
        rgb(101, 73, 213) 0%,
        rgb(251, 83, 67) 50.52083134651184%,
        rgb(5, 157, 255) 100%
      )
      border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    mask-composite: add, add;
    mask-composite: exclude;
    opacity: 0.2;
  }
}
// Section title 5
.section__subtitle-5 {
  font-size: 14px;
  display: inline-block;
  background: linear-gradient(90deg, #FB5141 40%, #089EFF 100%);
  background-clip: border-box;
  background-clip: text;
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--bd-fw-medium);
  letter-spacing: 1.68px;
  position: relative;
  padding: 4px 15px;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    opacity: 0.05;
    @include  light {
      background: var(--bd-bg-5);
      opacity: 1;
    }
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
}
// Section title 6
.section__subtitle-6 {
  color: #089EFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.68px;
  display: inline-block;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(15px);
  padding: 3px 15px;
  @include light {
    background: rgb(235, 235, 235);
  }
}
// Section sub title 7
.section__subtitle-7 {
  border-radius: 4px;
  background: rgba(5, 157, 255, 0.07);
  font-size: 14px;
  color: var(--bd-theme-primary);
  letter-spacing: 1.68px;
  display: inline-block;
  padding: 8px 15px 8px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: var(--bd-fw-sbold);
  @include light {
    background: rgba(5, 157, 255, 0.15);
  }
}
// Section subtitle 8
.section__subtitle-8 {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #322F45;
  padding: 6px 15px 8px;
  line-height: 1;
  @include light {
    border: 1px solid var(--bd-border-primary);
  }
  span {
    background: linear-gradient(90deg, #FB5141 0%, #089EFF 100%);
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.68px;
    text-transform: uppercase;
  }
}
