@use "../utils" as *;

/*----------------------------------------*/
/*  2.0 Section Title  
/*----------------------------------------*/
.section__subtitle {
	font-size: 14px;
	font-weight: var(--bd-fw-sbold);
	line-height: 1;
	display: inline-block;
	padding: 9px 17px;
	background: #FFDB86;
	position: relative;
	z-index: 5;
	border-radius: 30px;
}