$colors: (
  common: (
    "white": #FFFFFF,
    "black": #000000,
    "placeholder": #555555,
    "selection": #262626,
  ),
  body: (
    "primary": #FDFBF4,
    "secondary": rgba(255, 255, 255, 1),
  ),
  theme: (
    "primary": #6C3BEB,
    "secondary": #FF8F00,
  ),
  heading: (
    "primary": #0B2A46,
    "secondary": #021D35,
),
text: (
    "body": #7C7E82,
    "primary": #FFFFFF,
    "secondary": #111111,
    "paragraph": rgba(28, 28, 30, 0.6),
  ),
  bg: (
    "1": rgba(14, 10, 36, 1),
  ),
  border: (
    "primary": rgba(255, 255, 255, 0.079),
  ),
);
$white : #fff;
$black : #000;
$theme-primary : #089EFF;
$border-secondary : #FB5141;
$border-tertiary : #674AD9;
$border-quaternary : #E540A3;