@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Header Common Style 
/*----------------------------------------*/

.bd-sticky {
	position: fixed !important;
	top: 0;
	z-index: 111;
	inset-inline-end: 0;
	inset-inline-start: 0;
	width: 100%;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	background: var(--bd-bg-1);
	border-top: 0;
}
.header-transparent {
	position: absolute;
	inset-inline-start: 0;
	margin: auto;
	width: 100%;
	z-index: 99;
}
.header__area {
	border-bottom: 1px solid var(--bd-border-primary);
	@include light {
		background: var(--bd-common-white);
	}
	@media #{$xs, $sm, $md} {
		padding: 18px 0;
	}
	@media #{$xxs} {
		padding: 16px 0;
	}
	.container {
		max-width: 1920px;
		padding: 0 80px;
		@media #{$xl,$xxl} {
			padding: 0 60px;
		}
		@media #{$lg} {
			padding: 0 35px;
		}
		@media #{$sm, $md} {
			padding: 0 30px;
		}
		@media #{$xs} {
			padding: 0 15px;
		}
	}
	.header__btn-wrap {
		.bd-gradient-btn {
			height: 50px;
			padding: 0 25px;
		}
	}
}
.header__logo {
	max-width: 162px;
	@media #{$xs, $sm} {
		max-width: 150px;
	}
	@media #{$xxs} {
		max-width: 130px;
	}
}
.header__main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__btn-wrap {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}
// Header Baricon
.bar-icon {
	width: 26px;
	height: 18px;
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	transition: color .2s ease-out;
	span {
		width: 100%;
		height: 2px;
		background: var(--bd-text-primary);
		display: inline-block;
		transition: color .2s ease-out;
		&:nth-child(2) {
			margin-left: 0px;
		}
	}
	&:hover {
		span {
			animation: qode-draw .8s cubic-bezier(.44,1.1,.53,.99) 1 forwards;
			&:nth-child(2) {
				margin-left: 0px;
				animation-delay: .1s;
			}
			&:nth-child(3) {
				animation-delay: .2s;
			}
		}
	}
	&.is-black {
		span {
			background: var(--bd-common-black);
		}
	}
	&.is-white {
		span {
			background: var(--bd-common-white);
		}
	}
}
.header-common {
	background: var(--bd-bg-1);
}
// Header 3
.header-3 {
	@media #{$xs ,$sm, $md} {
		padding: 18px 0;
	}
}

