@use '../../utils' as *;

/*----------------------------------------*/
/*  6.2 Footer Style 2
/*----------------------------------------*/

// Footer style-2
.footer__area-2 {
	position: relative;
	padding-top: 325px;
	margin-top: -250px;
	background: rgba(14, 10, 36, 1);
	@media #{$xs} {
		padding-top: 308px;
	}
}
.footer__glow-2 {
	.glow-1 {
		background: var(--bd-theme-primary);
		@include border-radius(50%);
		width: 260px;
		height: 260px;
		filter: blur(200px);
		position: absolute;
		top: 122px;
		right: calc(100% - 200px);
	}
	.glow-2 {
		background: var(--bd-theme-primary);
		@include border-radius(50%);
		width: 307.22px;
		height: 307.22px;
		filter: blur(200px);
		position: absolute;
		left: calc(100% - 118px);
		bottom: 55px;
	}
	.glow-3 {
		background: linear-gradient( 90deg, rgba(87, 63, 234, 1) 0%, rgba(161, 145, 255, 1) 100% );
		@include border-radius(50%);
		opacity: 0.15;
		width: 96.9%;
		height: 43%;
		transform-origin: 0 0;
		filter: blur(200px);
		position: absolute;
		bottom: 0;
		display: block;
		left: 50%;
		transform: translateX(-50%) rotate(0deg) scale(1, 1);
		z-index: -1;
	}
}
.footer__info-item {
	display: flex;
	align-items: center;
	gap: 10px;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	&:last-child {
		align-items: start;
	}
}
.footer__info-icon {
	span {
		color: var(--bd-theme-primary);
	}
}
.footer__info-text {
	span {
		font-weight: var(--bd-fw-medium);
		color: var(--bd-text-1);
		a {
			&:hover {
				color: var(--bd-theme-primary);
			}
		}
	}
	p {
		color: var(--bd-text-1);
		a {
			&:hover {
				color: var(--bd-theme-primary);
			}
		}
	}
}
.footer__style-2 {
	.footer__widget-title {
		h5 {
			color: var(--bd-common-white);
		}
	}
	.footer__link {
		ul {
			li {
				a {
					color: var(--bd-text-1);
				}
			}
		}
	}
	.footer__content {
		& > P {
			margin-bottom: 40px;
			color: var(--bd-text-1);
		}
	}
	.footer__conditions {
		ul {
			li {
				a {
					color: var(--bd-text-1);
				}
			}
		}
	}	
	.footer__copyright {
		p {
			a {
				color: var(--bd-text-white);
			}
		}
	}
	.footer__bottom {
		border-color: rgba(255, 255, 255, 0.079);
	}
	.footer__conditions {
		ul {
			li {
				&:not(:last-child)::after {
					background: rgba(255, 255, 255, 0.079);
				}
			}
		}
	}
	
}
