@use '../../utils' as *;

/*----------------------------------------*/
/*  6.6 Footer Style 6
/*----------------------------------------*/

.footer__area-6 {
	padding: 80px 0;
	border-top: 1px solid var(--bd-border-primary);
	border-bottom: 1px solid var(--bd-border-primary);
}

