<div class="brand__area-6 theme-bg-1 section-rounded-60 section-space-bottom">
   <div class="container">
      <div class="swiper brand__active">
         <div class="swiper-wrapper">
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/imgs/brand/brand-01.png" alt="image not found">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/imgs/brand/brand-02.png" alt="image not found">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/imgs/brand/brand-03.png" alt="image not found">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/imgs/brand/brand-04.png" alt="image not found">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/imgs/brand/brand-05.png" alt="image not found">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/imgs/brand/brand-06.png" alt="image not found">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/imgs/brand/brand-02.png" alt="image not found">
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
</div>