@use "../../utils" as *;

/*----------------------------------------*/
/*  7.14 Faq css
/*----------------------------------------*/
.faq__content {
	padding-right: 65px;
  @media #{$xs, $sm, $md, $lg} {
    padding-right: 0;
  }
}
.bd__faq {
  .accordion-button {
    font-size: 20px;
    background: var(--bd-common-white);
    padding: 25px 30px 25px;
    padding-right: 100px;
    display: inline-block;
    color: var(--bd-heading-primary);
    font-weight: var(--bd-fw-sbold);
    @include border-radius(10px);
    @media #{$sm, $md} {
      font-size: 20px;
      padding: 30px 30px 24px 85px;
    }
    @media #{$xs, $lg} {
      ont-size: 20px;
      line-height: 1.5;
      padding: 30px 20px 24px 80px;
    }
    &:focus {
      box-shadow: none;
    }
    &:not(.collapsed) {
      background: var(--bd-common-white);
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
      &::after {
        border-color: transparent;
        background: var(--bd-theme-primary);
        color: var(--bd-common-white);
        content: "\f068";
      }
    }
    &::after {
      position: absolute;
      right: 30px;
      content: "\2b";
      background-image: none;
      font-family: var(--bd-ff-fontawesome);
      font-size: 18px;
      font-weight: 400;
      height: 40px;
      width: 40px;
      background: #E8E8E8;
      line-height: 40px;
      text-align: center;
      color: #1C1C1C;
      top: 50%;
      @include border-radius(50%);
      @extend %translateY1_2;
      @media #{$sm,$md} {
        left: 30px;
      }
      @media #{$xs, $lg} {
        left: 25px;
      }
    }
  }
  .accordion-body {
    padding-left: 25px;
    padding-bottom: 15px;
    padding-right: 25px;
    background: var(--bd-common-white);
    border-radius: 0 0 10px 10px;
    > P {
      margin-bottom: 0;
    }
  }
  .accordion-item {
    border: 0;
    border: 0;
    background: transparent;
    box-shadow: 3px 4px 20px rgba(255, 95, 33, 0.08);
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:not(:first-of-type) {
      border: 0;
    }
  }
}

