@use "../../utils" as *;

/*----------------------------------------*/
/*  7.17 Finance css
/*----------------------------------------*/
.finance__map-bg {
  background: rgba(255, 255, 255, 0.05);
  @include border-radius(6px);
  @include light {
    background: rgb(45, 43, 43);
  }
}
.finance__content {
  padding-right: 90px;
  @media #{$xs, $sm, $md, $lg} {
    padding-right: 0;
  }
  @media #{$xl} {
    padding-right: 60px;
  }
}
.location__map-info {
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  @extend %translate1_2;
}
.location__info {
  background: var(--bd-common-white);
  padding: 30px 25px;
  border-radius: 0 0 6px 6px;
}
.location__info-text {
  p {
    margin-bottom: 0;
  }
  ul {
    display: flex;
    gap: 10px;
    li {
      list-style: none;
    }
  }
}
.location__info-item {
  display: flex;
  gap: 10px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.location__content {
  max-width: 342px;
  margin: auto;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: calc(100% - 60px);
    background: #674AD9;
    filter: blur(200px);
    @include border-radius(50%);
    z-index: -1;
    top: 50%;
    left: 50%;
    @extend %translate1_2;
  }
}
.location__top-info {
  display: flex;
  justify-content: space-between;
  background: var(--bd-theme-primary);
  padding: 25px 25px;
  border-radius: 6px 6px 0 0;
  p {
    color: var(--bd-common-white);
    margin-bottom: 0;
  }
  span {
    color: var(--bd-common-white);
  }
}
.dot {
  position: absolute;
  width: 14px;
  height: 14px;
  background: var(--bd-theme-primary);
  @include border-radius(50%);
  cursor: pointer;
  filter: drop-shadow(0px 0px 20px #60c1ff);
  z-index: 11;
  &.dot-1 {
    top: 20%;
    left: 65px;
  }
  &.dot-2 {
    position: absolute;
    top: 110px;
    right: 10px;
  }
  &.dot-3 {
    position: absolute;
    bottom: 50px;
    right: 10%;
  }
}
.location__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  color: rgba(251, 81, 65, 1);
  align-items: center;
}
