@use "../../utils" as *;

/*----------------------------------------*/
/*  7.30 Services css
/*----------------------------------------*/
.service__item {
  position: relative;
  padding: 40px 40px 35px;
  border: 1px solid var(--bd-border-primary);
  @include border-radius(6px);
  @media #{$xxs, $md, $xl} {
    padding: 40px 25px 35px;
  }
  @media #{$lg} {
    padding: 35px 25px 30px;
  }
  &.is-brick-red {
    .service__icon {
      span {
        background: rgba(251, 83, 67, 0.1);
        color: rgb(251, 83, 67);
      }
    }
  }
  &.is-mainly-blue {
    .service__icon {
      span {
        background: rgba(5, 157, 255, 0.15);
        color: rgb(5, 157, 255);
      }
    }
  }
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--bd-gradient-2);
    top: 0;
    left: 0;
    z-index: -1;
    @include border-radius(6px);
    opacity: 0;
    @extend %bd-transition-3;
  }
  &:hover {
    border-color: transparent;
    .service__content {
      h3 {
        color: var(--bd-common-white);
      }
      & > p {
        color: var(--bd-common-white);
      }
    }
    .text__link {
      color: var(--bd-common-white);
      &:hover {
        color: var(--bd-common-white);
      }
    }
    .service__icon {
      span {
        background: rgba(255, 255, 255, 0.15);
        color: var(--bd-common-white);
      }
    }
    .service__ring {
      opacity: 1;
      @extend %bd-transition-3;
      right: -100px;
    }
    &:before {
      opacity: 1;
    }
  }
}
.service__icon {
  span {
    height: 86px;
    width: 86px;
    background: rgba(101, 73, 213, 0.15);
    @include border-radius(50%);
    margin-bottom: 25px;
    position: relative;
    z-index: 5;
    font-size: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--bd-theme-tertiary);
    img {
      max-width: 46px;
    }
  }
}
.service__content {
  h3 {
    margin-bottom: 20px;
    @media #{$xxs, $lg} {
      font-size: 20px;
    }
    a {
      &:hover {
        color: var(--bd-theme-primary);
      }
    }
  }
  & > p {
    margin-bottom: 25px;
  }
}
.service__ring {
  height: 212px;
  width: 212px;
  background: transparent;
  @include border-radius(50%);
  border: 40px solid rgba(255, 255, 255, 0.05);
  position: absolute;
  right: -220px;
  bottom: calc(100% - 170px);
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0s;
}
// Service Style 2
.service__item-2 {
  padding: 50px 50px 45px;
  background: rgba(5, 157, 255, 0.05);
  @include border-radius(6px);
  display: flex;
  gap: 20px 25px;
  @extend %bd-transition-3;
  @media #{$xs, $lg} {
    padding: 35px 30px;
  }
  @media #{$xxs} {
    flex-direction: column;
  }
  &.is-brick-red {
    background: rgb(251, 83, 6, 0.05);
    .service__icon-2 {
      span {
        background: rgba(251, 83, 67, 0.1);
        color: rgb(251, 83, 67);
      }
    }
  }
  &.is-light-purple {
    background: rgba(101, 73, 213, 0.05);
    .service__icon-2 {
      span {
        background: rgba(101, 73, 213, 0.1);
        color: rgb(101, 73, 213);
      }
    }
  }
  &:hover {
    .service__icon-2 {
      span {
        background: rgba(8, 158, 255, 1);
        color: var(--bd-common-white);
      }
    }
    &.is-brick-red {
      background: rgb(251, 83, 6, 0.05);
      .service__icon-2 {
        span {
          background: rgba(251, 81, 65, 1);
        }
      }
    }
    &.is-light-purple {
      background: rgba(101, 73, 213, 0.05);
      .service__icon-2 {
        span {
          background: rgba(103, 74, 217, 1);
        }
      }
    }
    @include transform(translateY(-5px));
  }
}
.service__icon-2 {
  span {
    width: 84px;
    height: 84px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include border-radius(50%);
    font-size: 45px;
    color: var(--bd-theme-primary);
    background: rgba(5, 157, 255, 0.1);
  }
}
.service__content-2 {
  h3 {
    margin-bottom: 20px;
    @media #{$xxs} {
      font-size: 20px;
    }
    a {
      &:hover {
        color: var(--bd-theme-primary);
      }
    }
  }
  & > p {
    margin-bottom: 35px;
  }
}
// Service style 3
.service__item-3 {
  padding: 40px 40px;
  border: 1px solid var(--bd-border-primary);
  @include border-radius(6px);
  @media #{$xxs, $lg} {
    padding: 30px 30px;
  }
  &.is-mainly-red {
    .service__icon-3 {
      span {
        background: rgba(251, 81, 65, 0.15);
        color: rgb(251, 81, 65);
      }
    }
    &:hover {
      .service__icon-3 {
        span {
          background-color: var(--bd-theme-secondary);
        }
      }
    }
  }
  &.is-mainly-blue {
    .service__icon-3 {
      span {
        background: rgba(101, 73, 213, 0.15);
        color: rgb(101, 73, 213);
      }
    }
    &:hover {
      .service__icon-3 {
        span {
          background-color: var(--bd-theme-tertiary);
        }
      }
    }
  }
  &:hover {
    .service__icon-3 {
      span {
        background-color: var(--bd-theme-primary);
        color: var(--bd-common-white);
      }
    }
  }
}
.service__icon-3 {
  margin-bottom: 35px;
  span {
    width: 90px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include border-radius(50%);
    background: rgba(5, 157, 255, 0.15);
    font-size: 45px;
    color: var(--bd-theme-primary);
  }
}
.service__content-3 {
  h3 {
    margin-bottom: 25px;
    @media #{$xxs, $lg} {
      font-size: 20px;
    }
    a {
      &:hover {
        color: var(--bd-theme-primary);
      }
    }
  }
  p {
    margin-bottom: 0;
  }
}
// Service Details Style
.service__banner-area {
  padding-top: 207px;
  @media #{$lg, $xl} {
    padding-top: 175px;
  }
  @media #{$md} {
    padding-top: 160px;
  }
  @media #{$xs, $sm} {
    padding-top: 160px;
  }
  .round__shape {
    position: absolute;
    right: -94px;
    top: -173px;
    max-width: 694px;
    @media #{$xl} {
      max-width: 530px;
    }
    @media #{$lg} {
      max-width: 550px;
    }
    @media #{$md} {
      max-width: 450px;
    }
    @media #{$sm, $xs} {
      max-width: 400px;
    }
    @media #{$xxs} {
      display: none;
    }
  }
}
.service__banner-glow {
  .glow-1 {
    background: #573fea;
    @include border-radius(50%);
    width: 235px;
    height: 235px;
    position: absolute;
    filter: blur(200px);
    left: 25px;
    bottom: 76px;
    opacity: 50%;
  }
  .glow-2 {
    background: linear-gradient(
      -90deg,
      rgb(101, 73, 213) 0%,
      rgb(251, 83, 67) 100%
    );
    @include border-radius(50%);
    width: 255px;
    height: 255px;
    transform-origin: 0 0;
    filter: blur(200px);
    position: absolute;
    top: 107px;
    right: -90px;
    z-index: -1;
  }
}
.service__banner-content {
  & > p {
    max-width: 500px;
  }
}
.service__banner-thumb-box {
  padding-bottom: 370px;
  @media #{$lg, $xl} {
    padding-bottom: 300px;
  }
  @media #{$md} {
    padding-bottom: 150px;
  }
  @media #{$xs, $sm} {
    padding-bottom: 50px;
  }
  @media #{$xxs} {
    padding-bottom: 20px;
  }
  z-index: 5;
  .thumb-1 {
    max-width: 319px;
    margin: 0 0 0 auto;
    @media #{$xxs} {
      max-width: 250px;
    }
    img {
      @include border-radius(6px);
    }
  }
  .thumb-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: -140px;
    z-index: -1;
    @media #{$xxl} {
      margin-right: -40px;
    }
    @media #{$lg, $xl} {
      margin-right: -60px;
    }
    @media #{$xs, $sm, $md} {
      margin-right: 0;
    }
    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(180deg, rgba(14, 10, 36, 0) 0%, #0e0a24 100%);
      @include light {
        background: rgba(164, 164, 164, 0.12);
      }
      top: 0;
      left: 0;
      border-radius: 6px 6px 0 0;
      @include light {
        background: rgba(119, 110, 110, 0.12);
      }
    }
    img {
      border-radius: 6px 6px 0 0;
    }
  }
  .thumb-3 {
    position: absolute;
    bottom: 100px;
    left: -215px;
    @media #{$sm, $md} {
      left: -35px;
      bottom: 50px;
      max-width: 200px;
    }
    @media #{$xs} {
      left: 0px;
      max-width: 180px;
    }
    @media #{$xxs} {
      display: none;
    }
    img {
      @include border-radius(6px);
    }
  }
}
