@use '../../utils' as *;

/*----------------------------------------*/
/*  7.37 Trade CSS
/*----------------------------------------*/
.trade__thumb-wrapper {
	padding: 0 35px;
  @media #{$xs, $sm, $md, $lg} {
    padding: 0;
  }
}
.trade__thumb {
	background: var(--bd-gradient-2);
	@include border-radius(6px);
}
.trade__content {
	padding: 0 50px;
	@media #{$xs, $sm, $md, $lg} {
		padding: 0;
	}
	@media #{$xl} {
		padding: 0 20px;
	}
}