@use '../../utils' as *;

/*----------------------------------------*/
/*  7.42 Why Choose CSS
/*----------------------------------------*/
.why__choose-shapes {
	.shape-one {
		position: absolute;
		top: 90px;
		left: 95px;
	}
	.round {
		position: absolute;
		width: 1022px;
		height: 1028.1px;
		right: -12%;
		bottom: -160px;
		background: #ECCC70;
		border-radius: 50%;
		z-index: -1;
	}
}
.why__choose-wrapper {
	margin-right: 50px;
}
.why__choose-content {
	.title {
		color: var(--bd-common-white);
		margin-bottom: 15px;
		font-weight: var(--bd-fw-bold);
	}
	.description {
		color: var(--bd-common-white);
		margin-bottom: 0;
	}
}
.why__choose-timeline {
	display: flex;
	gap: 30px;
	&:not(:last-child) {
		padding-bottom: 40px;
	}
	&:last-child {
		.timeline__icon {
			&::before {
				display: none;
			}
		}
	}
}
.timeline__icon {
	span {
		font-size: 50px;
		color: var(--bd-common-white);
	}
}
.timeline__icon {
	position: relative;
	z-index: 5;
	&:not(:last-child) {
		&:before {
			position: absolute;
			content: "";
			height: calc(100% + -16px);
			width: 1px;
			border: 1.5px dashed rgba(255, 255, 255, 0.5);
			z-index: -1;
			left: 24px;
			top: 52px;
		}
	}
}
.why__choose-thumb {
	position: absolute;
	bottom: 0;
	right: 0;
}